<div>
    <div class="modal-body">
        <div class="row no-gutters bb-1 mb-3">
            <div class="col-12 text-center">
                <p>Tem certeza que deseja ir para a tela?</p>
            </div>
        </div>

        <div class="row">
            <div class="col-8 offset-2">
                <button class="btn float-left button-modal" (click)="close()">NÃO</button>
                <button class="btn float-right button-modal" (click)="close()">SIM</button>
            </div>
        </div>
    </div>
</div>