.result-text{
    color: rgb(73, 73, 73);
    font-weight: 700;
}

.title-card{
    color: rgb(73, 73, 73);
    font-weight: 600;
}

.action{
    color: rgb(155, 155, 155);
    font-weight: 600;
    cursor: pointer;
}

.description {
    color: rgb(95, 95, 95);
}